@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(14, 21, 30);
    height: 100%;
    font-family: Verdana, Geneva, Lucida, Arial, Helvetica,Lucida Console, Monaco, monospace;
    font-size: 100%;
  
}
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
    z-index: 1
}

#handle{
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #FFF;
    z-index: 4;
    cursor: move;
    bottom: 0;
}
#handleHolder {
    width: 100vw !important;
    height: 20px;
    background-color: rgba(255, 254, 254, 0.4);
    z-index: 2;
    top: calc(100vh - 20px);
    position: relative;
}

#progress {
    background-color: rgba(70, 70, 70, 0.7);
    height: 20px;
}

#datePrint {
    font-family: 'Fjalla One', sans-serif;
    padding: 30px;
    font-size: 50px;
    color: white;
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    transform: translate(100px, -80px);
    width: fit-content;
}

/*legend css*/
.circle{
    left: 20px;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 3;
    border-radius: 100px;
    border: 3px solid white;
\
}


.label {
    font-family: 'Fjalla One', sans-serif;
    left: 60px;
    font-size: 15px;
    color: white;
    z-index: 3;
    position: relative;
    text-transform: uppercase;
    transform: translateY(-20px);
    width: fit-content;
}



